body {
    --gridgap: 0.5rem;
}

.masonry {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: var(--gridgap);
    padding: var(--gridgap) 0 var(--gridgap) var(--gridgap);
}

.masonry-item {
    position: relative;
    display: block;
    width: calc((100% / 3) - var(--gridgap));
    height: 20vh;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    border-radius: var(--gridgap);
    
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-name: fadeIn;
    animation-timing-function: linear;
}
.masonry-item:nth-child(12n + 1) {
    animation-duration: 1.2s;
}
.masonry-item:nth-child(12n + 2) {
    animation-duration: 1.4s;
}
.masonry-item:nth-child(12n + 4) {
    animation-duration: 1.5s;
}
.masonry-item:nth-child(12n + 3) {
    animation-duration: 1.6s;
}
.masonry-item:nth-child(12n + 4) {
    animation-duration: 1.8s;
}
.masonry-item:nth-child(12n + 5) {
    animation-duration: 2.0s;
}
.masonry-item:nth-child(12n + 6) {
    animation-duration: 2.2s;
}
.masonry-item:nth-child(12n + 7) {
    animation-duration: 2.4s;
}
.masonry-item:nth-child(12n + 8) {
    animation-duration: 2.6s;
}
.masonry-item:nth-child(12n + 9) {
    animation-duration: 2.8s;
}
.masonry-item:nth-child(12n + 10) {
    animation-duration: 3.0s;
}
.masonry-item:nth-child(12n + 11) {
    animation-duration: 3.2s;
}
.masonry-item:nth-child(12n + 12) {
    animation-duration: 3.4s;
}
@media (min-width: 600px) {
    .masonry-item {
         width: calc((100% / 4) - var(--gridgap));
    }
}
@media (min-width: 800px) {
    .masonry-item {
         width: calc((100% / 5) - var(--gridgap));
    }
}
@media (min-width: 1000px) {
    .masonry-item {
         width: calc((100% / 6) - var(--gridgap));
    }
}
@media (min-width: 1200px) {
    .masonry-item {
         width: calc((100% / 7) - var(--gridgap));
    }
}
@media (min-width: 1400px) {
    .masonry-item {
         width: calc((100% / 8) - var(--gridgap));
    }
}
@media (min-width: 1600px) {
    .masonry-item {
         width: calc((100% / 9) - var(--gridgap));
    }
}
@media (min-width: 1800px) {
    .masonry-item {
         width: calc((100% / 10) - var(--gridgap));
    }
}
.masonry:has(.masonry-item:is(:hover,:focus)) .masonry-item {
    opacity: 0.6;
}
.masonry-item:is(:hover,:focus) {
    opacity: 1 !important;
    transform: scale(0.95); 
}

.masonry-item img {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: all 0.3s ease-in-out;
    transform: translateZ(0);
}
.masonry-item:is(:hover,:focus) img {
    transform: scale(1.1);
}