html {
    font-size: 93.75%;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    -webkit-text-size-adjust: none;
}

body {
    --color--page-dark: #000;
    --color--page: #111;
    --color--page-lv1: #222;
    --color--page-lv2: #333;
    --color--page-scrim: #11111180;
    --color--text: #fefefe;

    --color--primary: #9D5D5B;
    --color--primary-light: #D19997;
    --color--primary-lighter: #e3cfce;
    
    --font-size--capture-btn: clamp(1em,10vw,3em);
    --font-size--capture-btn--sm: clamp(0.8em,7vw,2.2em);
    --font-size--nav-btn: clamp(0.85em,2.5vw,1em);

    --gap--sm: 0.5rem;
    --gap--md: 1rem;
    --gap--lg: 2rem;
    --gap--xlg: 3rem;

    --opacity--btn-disabled: 0.25;

    background: var(--color--page);
    color: var(--color--text);
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;

    
    font-family: "Raleway", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}



/* toast */

.toast-container,
.toast {
    position: absolute;
    bottom: var(--gap--md);
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
    width: max-content;
    z-index: 999;
    font-size: var(--font-size--nav-btn);
}
.toast-container {
    max-width: 100vw;
}
.toast {
    display: none;
    padding: 0.75rem 1.25rem;
    border-radius: 99rem;
    box-shadow: 0 0 50px 0 var(--color--page);
    font-size: 1rem;
    background: var(--color--page-lv2);
}
.toast-container > * {
    position: static;
    transform: none;
    margin: var(--gap--md) auto;
    font-size: inherit !important;
}
@media (orientation: landscape) {
    .toast-container,
    .toast {
        font-size: 0.8em;
        bottom: calc(var(--gap--md) + 4.5em);
    }
}

.toast.visible {
    display: block;
}
.toast.center {
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    width: 22.75em;
    max-width: 90%;
}
.toast.error {
    /* background: #8d0000; */
    border: 10px solid var(--color--page);
}
.toast svg {
    margin-right: 0.5em;
}



/* icons*/

.svg-icon {
    display: inline-block;
    overflow: visible;
    width: 1em;
    height: 1em;
    font-size: inherit;
    vertical-align: -.125em;
    fill: currentColor;
}

::-webkit-scrollbar{
	width: 10px;
}
::-webkit-scrollbar-track-piece{
	background-color: var(--color--page);
}
::-webkit-scrollbar-thumb{
	background-color: var(--color--page-lv2);
	outline: 2px solid var(--color--page);
	outline-offset: -2px;
	border: .1px solid var(--color--page);
    border-radius: 99rem;
}
::-webkit-scrollbar-thumb:hover{
	background-color: var(--color--primary-light);
}



/* loading shimmer */
.shimmer {
    animation-duration: 2.2s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: shimmer;
    animation-timing-function: linear;
    background: var(--color--page-lv1);
    background: linear-gradient(135deg, var(--color--page-lv1) 8%, var(--color--page-lv2) 18%, var(--color--page-lv1) 33%);
    background-size: 1200px 100%;
}
@-webkit-keyframes shimmer {
    0% {
        background-position: -100% 0;
    }
    100% {
        background-position: 100% 0;
    }
}
@keyframes shimmer {
    0% {
        background-position: -1200px 0;
    }
    100% {
        background-position: 1200px 0;
    }
}



/* fade in */

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

